.point
  font-family HFNSS
  font-size 2em
  color pointColor
  -webkit-font-smoothing none
  font-smooth none
  margin 0
  &.vector
    font-family HFNSS1
    -webkit-font-smoothing subpixel-antialiased
    font-smooth subpixel-antialiased
  &.form
    display inline
  
.big
  font-size 4em
  
.really-big
  font-size 8em
  
.centered-text
  text-align center
  

